<!--
  Created by IntelliJ IDEA.
  User: user
  Date: 12/12/2018
  Time: 10:21 AM
  To change this template use File | Settings | File Templates.
-->

<html>
<head>
    <title>Title</title>
    <!-- Bootstrap CSS-->
    <link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

</head>
<body>
<div id="login-overlay" class="col-md-5" style="margin-top: 5em;" align="center">
    <div class="modal-content">
        <div class="modal-header alert-info">
            <h3 class="modal-title" id="myModalLabel">Registado com sucesso
            </h3>
        </div>

        <div class="modal-body">
                <div class="col-xs-8" style="text-align: center">
                    <p>Obrigado por registrar-se connosco.</p>
                </div>
        </div>

        <div class="modal-footer">
            <p><a href="/login" class="btn btn-info btn-block">Voltar?</a></p>
        </div>

    </div>
</div>
</body>
</html>
